<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostName" value="127.0.0.1"/>
    <add key="UserName" value="AAAV"/>
    <add key="Password" value="love"/>
    <add key="Puerto" value="22"/>
    <add key="RemoteDirectory" value="/"/>
    <add key="LocalDirectory" value="C:\SFTP_Local\Files"/>
    <add key="RemoteDelete" value="true"/>
    <add key="OperationTimeout" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>